name: Link check

on:
  push:
    branches: [main]
  pull_request:
  schedule:
    - cron: "0 9 * * 1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lychee:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run Lychee
        uses: lycheeverse/lychee-action@v2.7.0
        with:
          fail: true
          args: >
            --verbose
            --no-progress
            --max-concurrency 8
            --accept 200,201,202,203,204,206,301,302,303,307,308,403,429
            **/*.md **/*.mdx
